<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/3085005bab.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>Codeshare</title>
</head>
<body>

  <!-- Top Navbar -->
  <header>
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <a class="navbar-brand navbar-top-heading" href="/">Codeshare</a>
        <div class="navbar-buttons home-page-navbar-buttons">
          <a href="https://github.com/Ayush0202/Codeshare" class="btn btn-dark my-2 my-md-0" type="submit"><i class="fa-brands fa-github"></i> Github</a>
          <a href="/home" class="btn btn-danger my-2 my-md-0" type="submit">Get Started</a>
        </div>
      </div>
    </nav>
  </header>

  <!-- Main -->
  <div class=" wrapper container-fluid">
    <div class="home home-page-text">
      <h1 class="main-page-heading">Share Code in Real-time <br> with Developers</h1>
      <h5 class="main-page-text">An online code editor for <br> interviews, troubleshooting, teaching & more…</h5>
      <h6 class="main-page-text">Share Code for free!</h6>
      <div class="home-buttons">
        <a href="https://github.com/Ayush0202/Codeshare" class="btn btn-dark btn-lg"><i class="fa-brands fa-github"></i> Github</a>
        <a href="/home" class="btn btn-danger btn-lg">Share Code</a>
      </div>
    </div>
    <div class="home home-page-image">
      <img src="demo.gif" alt="Hello">
    </div>
  </div>

  <!-- Features -->
  <div class="features container-fluid">
    <div class="feature-box col-lg-4 feature1">
      <i class="icons fa-solid fa-code"></i>
        <h3 class="feature-title">Code with your team</h3>
        <p>Open a Codeshare editor, write or copy code, then share it with friends and colleagues. Pair program and troubleshoot together.</p>
    </div>
    
    <div class="feature-box col-lg-4 feature2">
      <i class=" icons fa-solid fa-laptop"></i>
      <h3 class="feature-title">Interview Developers</h3>
      <p>Set coding tasks and observe in real-time when interviewing remotely or in person. Nobody likes writing code on a whiteboard.</p>
    </div>
    
    <div class="feature-box col-lg-4 feature3">
      <i class="fa-solid fa-person-chalkboard icons"></i>
      <h3 class="feature-title">Teach people to Code</h3>
      <p>Share your code with students and peers then educate them. Universities and colleges around the world use Codeshare every day.</p>
    </div>

  </div>

  <!-- Footer -->
  <footer>
    <div class="navbar-bottom navbar-expand-lg">
      <div class="footer-text">
        <p>Created by <a href="https://www.linkedin.com/in/ayushkumargupta02/">Ayush Kumar Gupta</a>.</p>
        
        <p>Copyright © 2022. All rights Reserved</p>
      </div>
    </div>
  </footer>


</body>
</html>